---
import "../styles/global.css";
import Navbar from "../components/navbar/NavBar.astro";
import AnnouncementBar from "../components/ui/AnnouncementBar.astro";
import Footer from "../components/footer/Footer.astro";
import ToasterComponent from "../components/ui/ToasterComponent";
import CartDrawer from "../components/cart/CartDrawer.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TS Online | H5</title>
	</head>
	<body class="bg-base-200 min-h-screen">
		<AnnouncementBar />
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<CartDrawer />
		<ToasterComponent client:load />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
</style>
